body{
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif; */
}
header{
    background-image: url('../img/bg-kelo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 1rem;
    height: 760px;
}
.h3{
    font-family: 'Open Sans regular', sans-serif;
    font-size: 16pt;
    font-stretch: expanded;
}
footer{
    padding-top: 10rem;
    margin-bottom: auto;
}
header{
    vertical-align: bottom;
}
.yosoy{
    padding-top: 4em;
}
.exehidalgo{
    padding-bottom: 3em;
}
.bartop{
    font-size: 16pt;
}
.eee{
    font-size: 30pt;
    padding: unset;   
}
#tarjetas{
    padding-top: 6vh;
    padding-bottom: 4vh;
}
h3{
    font-family: 'Oswald, SemiBold', sans-serif;
    font-weight: 606;
    font-size: 25pt;
}
h5{
    font-family: 'Open Sans, Light', sans-serif;
    font-weight: lighter;
    font-size: 25pt;
}
.text2{
    line-height: 5vh;
}
.exefooter{
    font-family: 'Oswald, Bold', sans-serif;
    font-weight: 606;
    font-size: 40pt;
}
.exetr{
    font-family: 'Oswald, Bold', sans-serif;
    font-weight: 606;
    font-size: 52pt;
    color: white;
}
